@use "sass:color";

@use "@material/theme/color-palette";

@use "@material/theme/index" as theme with (
    $primary: #bd93f9,
    $secondary: #44475a,
    $surface: #f8f8f2,
    $background: #f8f8f2,
    $error: #ff5555
);

@use "@material/typography/mdc-typography";
